@page
@model LaborVolumeCalculator.Pages.Okrs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Okr</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Okr.OkrInnovationPropertyID" class="control-label"></label>
                <select asp-for="Okr.OkrInnovationPropertyID" class ="form-control" asp-items="ViewBag.OkrInnovationPropertyID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Okr.DeviceCompositionID" class="control-label"></label>
                <select asp-for="Okr.DeviceCompositionID" class ="form-control" asp-items="ViewBag.DeviceCompositionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Okr.DeviceCountRangeID" class="control-label"></label>
                <select asp-for="Okr.DeviceCountRangeID" class ="form-control" asp-items="ViewBag.DeviceCountRangeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Okr.Name" class="control-label"></label>
                <input asp-for="Okr.Name" class="form-control" />
                <span asp-validation-for="Okr.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
