@page
@model LaborVolumeCalculator.Pages.NirLaborVolumesDocs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NirLaborVolumesDoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NirLaborVolumesDoc.ID" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NirLaborVolumesDoc.IsImplemented" /> @Html.DisplayNameFor(model => model.NirLaborVolumesDoc.IsImplemented)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NirLaborVolumesDoc.Number" class="control-label"></label>
                <input asp-for="NirLaborVolumesDoc.Number" class="form-control" />
                <span asp-validation-for="NirLaborVolumesDoc.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NirLaborVolumesDoc.Date" class="control-label"></label>
                <input asp-for="NirLaborVolumesDoc.Date" class="form-control" />
                <span asp-validation-for="NirLaborVolumesDoc.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NirLaborVolumesDoc.NiokrID" class="control-label"></label>
                <select asp-for="NirLaborVolumesDoc.NiokrID" class="form-control" asp-items="ViewBag.NiokrID"></select>
                <span asp-validation-for="NirLaborVolumesDoc.NiokrID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NirLaborVolumesDoc.NiokrStageID" class="control-label"></label>
                <select asp-for="NirLaborVolumesDoc.NiokrStageID" class="form-control" asp-items="ViewBag.NiokrStageID"></select>
                <span asp-validation-for="NirLaborVolumesDoc.NiokrStageID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NirLaborVolumesDoc.NirInnovationPropertyID" class="control-label"></label>
                <select asp-for="NirLaborVolumesDoc.NirInnovationPropertyID" class="form-control" asp-items="ViewBag.NirInnovationPropertyID"></select>
                <span asp-validation-for="NirLaborVolumesDoc.NirInnovationPropertyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NirLaborVolumesDoc.NirScaleID" class="control-label"></label>
                <select asp-for="NirLaborVolumesDoc.NirScaleID" class="form-control" asp-items="ViewBag.NirScaleID"></select>
                <span asp-validation-for="NirLaborVolumesDoc.NirScaleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NirLaborVolumesDoc.NirInnovationRate" class="control-label"></label>
                <input asp-for="NirLaborVolumesDoc.NirInnovationRate" class="form-control" />
                <span asp-validation-for="NirLaborVolumesDoc.NirInnovationRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NirLaborVolumesDoc.Total" class="control-label"></label>
                <input asp-for="NirLaborVolumesDoc.Total" class="form-control" />
                <span asp-validation-for="NirLaborVolumesDoc.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
