@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Главная страница.</h1>

    <div id='nir'>Loading...</div>
</div>



@section scripts {
    <script src="~/dist/load_nir.js" asp-append-version="true"></script>
}