
@model LaborVolumeCalculator.ViewModels.NirStageVM
@using System.Globalization;

@{ 
    var nirStage = Model;
}
    <table class="table table-sm my-1">
        <thead class="card-header">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Работа</th>
                <th scope="col">Минимальный объем(чм)</th>
                <th scope="col">Максимальный объем(чм)</th>
                <th scope="col">Трудозатраты(чм)</th>
                <th scope="col">Итог(чм)</th>
                <td></td>
            </tr>
        </thead>
        <tbody id="LaborVolumesForNirStage-@nirStage.ID" class="LaborVolumesForNirStage" data-nirStageID="@nirStage.ID">
            
        </tbody>
    </table>

