@page
@model LaborVolumeCalculator.Pages.DeviceCompositions.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительто хотите удалить этот объект?</h3>
<div>
    <h4> @Html.DisplayNameFor(model => model.DeviceComposition)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceComposition.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceComposition.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DeviceComposition.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
