<template>
    <div id='root' class="container-fluid">
        <div v-if="nirStages.length" class="container-lg px-0" id="NiokrStages">
            <div v-for="nirStage in nirStages">
                <nir-stage-card v-bind:nirStage="nirStage">
                    
                    <template v-slot:footer>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary btnOK" data-nirStageID="0">ОК</button>
                    </template>
                </nir-stage-card>
            </div>
        </div>

        <p v-else><em>Loading...</em></p>
    </div>
</template>

<script src="./nir.ts"></script>
